<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDj8RcQARgpeMKGEMz1JbKUQJ2Dqud3nlg</string>
	<key>GCM_SENDER_ID</key>
	<string>746726792368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterToDoList</string>
	<key>PROJECT_ID</key>
	<string>funactivity-5ac51</string>
	<key>STORAGE_BUCKET</key>
	<string>funactivity-5ac51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746726792368:ios:6a6a070c17561ff180af75</string>
</dict>
</plist>